FrenchLefffLemmatizer==0.3
gensim==4.1.2
matplotlib==3.5.1
nltk==3.7
numpy==1.21.5
oracledb==1.2.2
pandas==1.4.2
Pillow==9.4.0
plotly==5.6.0
scikit_learn==1.2.0
scipy==1.7.3
spacy==3.4.4
streamlit==1.17.0
textblob==0.17.1
textblob_fr==0.2.0
wordcloud==1.8.2.2
